.app{
  margin: 10px;
}
.nav{
  border:1px solid gray ;
  padding: 10px;
  border-radius: 5px;
}
.form{
  display: flex;
  flex-direction: column;
}
.kapsa{
  margin-top: 20px;
  columns: 250px 5;
  column-gap: 10px !important;
  overflow: hidden;
}
.image{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}